* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4faff;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar nav ul li a.active, 
.sidebar nav ul li a:hover {
    background-color: #e6f7ff;
    color: #007bff;
}

.content {
    flex-grow: 1;
    padding: 30px;
}

header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.overview {
    background-color: #007bff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-content {
    color: #fff;
    max-width: 60%;
}

.overview h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.overview p {
    font-size: 16px;
}

.charts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.chart-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-container.large {
    flex-basis: 65%;
}

.chart-container.small {
    flex-basis: 30%;
    height: 400px; /* Ensure adequate space for the pie chart */
}

.chart-container h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.chart-container canvas {
    max-width: 100%; 
    height: auto;
    margin: auto;
}

.ranking {
    display: flex;
    justify-content: space-between;
}

.ranking-table {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-basis: 48%;
}

.ranking-table h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #f4faff;
}

th, td {
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

th {
    color: #007bff;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f4faff;
}

td.score {
    text-align: right;
}

td.score.high {
    color: #28a745;
}

td.score.mid {
    color: #ffc107;
}

td.score.low {
    color: #dc3545;
}
